/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-box p span{ font-size: 50%;}
    
   .plan-box ul li{ font-size: 82%;}
    
    .plan-price { font-size: 200%; margin-bottom: 15px; }
    .contact-form { width: 80%; }
    
    .step-box img{ margin-right: 10%; }
    
    .btn-app img{
        height: 50px;
        width: auto;
        margin-right: 0px;
    }
    .section-testimonials{
        height: 75vh;
        margin-top: -50px;
    }
    
    .section-testimonials h2{ font-size: 175%}
    
    
    .works-step div{
        height: 45px;
        width: 45px;
        text-align: center;
        padding: 7px;
        float: left;
        font-size: 150%;
        margin-right: 15px;
        border: 2px solid #e67e22;
    }
    
    .box h3{ font-size: 100%;}
    .city-feature{
        margin-bottom: 15px;
        font-size: 14px;
    } 
    
    .footer-nav li{ font-size: 15px}
    
    .social-icons li { font-size: 90%;}
    
    .section-form contact-form label{ margin-top: 10px}
    
    header{height: 80vh;}
    

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    header{
        height: 80vh;

    }
    
        .section-testimonials{
        height: 100vh;
    }
    
    .mobile-nav-icon{display: inline-block;}
    
    
    .main-nav{
        float: left;
        margin-top: 35px;
        margin-left: 25px;
        display: none;
    }
    
    .main-nav li{
        display: inline-block;
        line-height: 30px;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .main-nav li a:link
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 10px 0; /* 10px for the top and bottom, 0 for the left and right */
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{padding: 10px 0;}
    .sticky .mobile-nav-icon{margin-top: 10px;}
    .sticky .mobile-nav-icon i{color:#555;}
    

    .sticky .main-nav{
        margin-top: 10px;
    }
    
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    /* Header */
    h1{ font-size: 130%;}
    
    .main-nav li{
        margin-left:10px;
        font-size: 12px;
    }
    
    .mobile-nav-icon{display: inline-block;}
    
    
    .main-nav{
        float: left;
        margin-top: 35px;
        margin-left: 25px;
        display: none;
    }
    
    .main-nav li{
        display: inline-block;
        line-height: 15px;
        font-size: 10px;
        margin-top: 15px;

    }
    
    .main-nav li a:link
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 10px 0; /* 10px for the top and bottom, 0 for the left and right */
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{padding: 10px 0;}
    .sticky .mobile-nav-icon i{color:#555;}

    .sticky .main-nav{
        margin-top: 10px;
    }
    
    header{
        height: 70vh;

    }
    /* Header */
    
    
    
    /* Section 1 */
    .section-features h2{ font-size: 130%;}
    
    .section-features{ text-align: center;}
    
    /* Section 1 */
    .contact-form option{
        font-size: 10px;
    }
         /* Section 3 */
    .section-steps h2{font-size: 130%;}
    
    .app-screen{
        width: 60%;
        padding-right: 70px;
        
    }
    
    .works-step{margin-bottom: 30px;}
    
    .btn-app img{
        height: 50px;
        width: auto;
        margin-right: -20px;
        padding-left: 10%;

    }

    
    /* Section 3 */
    
    
    /* Section 4 */
    .section-cities h2{font-size: 130%;}
    
    .section-cities h3{font-size: 130%; text-align: center;}
    
    .city-feature{
        margin-bottom: 10px; 
        font-size: 100%;
    }
    
    .city-feature{margin-left: 30%;}
   
    /* Section 4 */
    
    /* Section 5 */
    .section-testimonials h2{font-size: 108%;}
    
    .section-testimonials{text-align: center; height: 170vh; margin: %}
    
     /* Section 5 */
    
    /* Section 6 */
    .section-plans h2{font-size: 130%;}
    
    .plan-box h3{text-align: center; margin-top: 10px; font-size: 25px;}
    
    .plan-box p{text-align: center; margin: 0;}
    
    .plan-box ul li{margin-left: 30%;}
    
    .plan-box{padding-top: 10%;  box-shadow: 0 10px 10px #efefef;}
    /* Section 6 */
    
    /* Section 7 */
    .section-form h2{font-size: 130%;}
    
    .col span-2-of-3{margin-left: 100px}
    
    .contact-form{
        width: 70%;
    }
    
    .contact-form {text-align: center;}
    
     /* Section 7 */
    
     /* Footer */
    .social-icons{margin-right: 31%}
    /* Footer */

}

