/*--------------------------------------------------------------------------*/
/* Orange color: #e67e22; */
/*--------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------*/
/* Basic Setup */
/*--------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------------------------------------------*/
/* Reusable Compnments */
/*--------------------------------------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}


.box{
    padding: 1%;
}



/*--------------------------------------------------------------------------*/
/* Heading */
/*--------------------------------------------------------------------------*/
 
h1, h2, h3{
    
    font-weight: 300;
    text-transform: uppercase;
   
   
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{    /*Use the (h2:after{display: block;height: 2px;background-color: #e67e22;content: " ";}) to put the orange line under the word. but if we don't use (content: " ";) so the line don't show it on the browser  */
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/*--------------------------------------------------------------------------*/
/* Heading */
/*--------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------*/
/* Paragraph */
/*--------------------------------------------------------------------------*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}
/*--------------------------------------------------------------------------*/
/* Paragraph */
/*--------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------*/
/* Links */
/*--------------------------------------------------------------------------*/
a:link,
a:visited{
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, border 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}





/*--------------------------------------------------------------------------*/
/* Icon */
/*--------------------------------------------------------------------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}

/*--------------------------------------------------------------------------*/
/* Icon */
/*--------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------*/
/* Buttons */
/*--------------------------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
   
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}
/*--------------------------------------------------------------------------*/
/* Buttons */
/*--------------------------------------------------------------------------*/







/*--------------------------------------------------------------------------*/
/* Header */
/*--------------------------------------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);/*use(linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0,                                                                                   0, 0.7)), to put the color on top the image url(img/hero.jpg);)*/ background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed; /* Use the (background-attachment: fixed;) to make the image always stay in the sam place, when we scroll the website and the image always stay in the sam place */
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------------------------------------*/
/* Header */
/*--------------------------------------------------------------------------*/


.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{ 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0; /* margin: 5px 0;  5px mean 5px on the top. and 5px at the bottom */
                    
}

/* Main nav */

.main-nav{
    float: right;
    list-style: none;/* (list-style: none) is use to delete the bold poin of the (Unorder lise=ul) that show on the browser*/
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;/* (text-decotation: none) is use to delete the underline of link from the <a href="#"></a>*/
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* Main nav */

/* Mobile nav */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}


/* Sticky nav */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef; /* 0 for (x), 2px for (y), 2px for (blur), and the last one is color */
    z-index: 9999; /* a-index is define the world tical sticking of the element . and it alway on top all of other element, because is have the higher value */
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    padding: 17px 0;
}

.sticky .main-nav{
    margin-top: 19px;
}

.sticky .logo{ display: none;}
.sticky .logo-black{ display: block;}
/* Sticky nav */


/*--------------------------------------------------------------------------*/
/* Features */
/*--------------------------------------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 30px;
}




/*--------------------------------------------------------------------------*/
/* Meals */
/*--------------------------------------------------------------------------*/


.section-meals{
    padding: 0;
    margin-top: 10%;
}

.meals-showcase{
    list-style: none;
    width: 100%;
   
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
   
    
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.05);
}

/*--------------------------------------------------------------------------*/
/* How it works */
/*--------------------------------------------------------------------------*/

.section-steps{
    background-color: #f4f4f4;
}


.step-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
    
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 10px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*--------------------------------------------------------------------------*/
/* Cities */
/*--------------------------------------------------------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px; 
}

/*--------------------------------------------------------------------------*/
/* Cities */
/*--------------------------------------------------------------------------*/

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%; /* Use line-height: 145%; to make more space from the paragraph to the paragraph. */
    position: relative;/*When we use the (position: absolute;) in the child only, by don't use the (position: relative;) in the parent also, So the think that we would not showup for our*/
    
    margin-top: 15%;
}

blockquote:before{
    content: "\201c";
    font-size: 400%;
    display: block;
    position: absolute; /*When we use the (position: absolute;) in the child only, by don't use the (position: relative;) in the parent also, So the think that we would not showup for our*/
    top: -5px;
    left: 0;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /*Use the (vertical-align: middle;) to make the letter run to the left-middle or right-middle of the image*/
    
}


/*--------------------------------------------------------------------------*/
/* Sign up */
/*--------------------------------------------------------------------------*/

.section-form{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 10px 10px #efefef;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plan-box div:last-child{ /*When we use the first, second, thrid or ...........child!!!! must look on the inside the block elemenr or tag element, how many of the block or tag element did we have before use it */
    text-align: center;
    border: 0;
}

.plan-box div{
    padding: 15px;
    border-radius: 1px solid #e8e8e8;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
    
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}






/*--------------------------------------------------------------------------*/
/* Form */
/*--------------------------------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

.contact-form select{
    background-color: rgba(85, 85, 85, 0.22);
}



.span-2-of-3 select{ 
    height: 40px; 
}

input[type=text],
input[type=email],
select,
textarea{ 
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0; /* margin: 10px 5px 10px 0; */
                            /* margin: left bottom right top*/
}

*:focus{outline: none;}/*Use (*:focus{outline: none;} to delete the border line of the */



/*--------------------------------------------------------------------------*/
/* Form */
/*--------------------------------------------------------------------------*/

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
    width: 150%;
    height: 50px;
    
}

.social-icons{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-icons li:last-child{
    margin: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:  #ddd;
}

.social-icons li a:link,
.social-icons li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 30px;
}



/*--------------------------------------------------------------------------*/
/* Animation */
/*--------------------------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    animation-duration: 1s;
}


.js--wp-4{
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}